doctype html
html
  head
    title Library App 
      input(type="text", placeholder="your name")                 
      link(href='/css/bootstrap.min.css', rel='stylesheet')
  body
    h1 Library App
    button(onclick="toLogout") Logout
    div
      label Search Book
        form(action="/search", method='get')
          label Title:
          input(type='text', name="book_title")
          label Author:
          input(type='text', name="book_author")
          input(type='submit', value='Search', name="search_book")
      button(onclick="toAddBookPage()") Add Book
     
      table.table.table-striped
        thead
          tr
            th Book ID:
            th Title:
            th Author:
        tbody
           each val, index in books 
            tr
              td= val.book_id
              td= val.title
              td= val.author
              form(action="/editBook", method="get")
                td: input(type="hidden", value=val.book_id, name="book_id")
                td: input(type="hidden", value=val.title, name="book_title")
                td: input(type="hidden", value=val.author, name="book_author")
                td: input(type="submit", value="Edit Book")
              form(action="/delete", method="post")
                td: input(type="hidden", value=val.book_id, name="book_id")
                td: input(type="submit", value="Delete Book")
      
  script(src="/js/jquery.js")
  script(src="/js/bootstrap.min.js")
  script.
    function toAddBookPage(){
      window.location.href="/addBook"
    }
    function toLogout(){
      window.location.href="/logout"
    }
